@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
html{
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0.5vw;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(86, 20, 125);
    border-radius: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    background-color: rgb(23, 13, 48);
    font-family: 'Montserrat', sans-serif;
}
#logo{
    width: 250px;
}

header{
    padding-left: 0.5%;
 
}

footer{
    display: flex;
    font-weight: 900;
    color: rgb(253, 194, 48);
    align-items: flex-end;
    margin-bottom: 0px;
    height: 300px;

}

.caixasHeader{
    width: 33%;
}

.nav-link{
    font-weight: 900 !important;
    list-style: none;
    color: rgb(253, 194, 48) !important;
 
}

button{
    border-radius: 10vh !important;
   
}


a:link{
    text-decoration: none;
}

#btnLogin
.btn
{
    background-color: rgb(253, 194, 48) !important;
    font-weight: 900 !important;
    border-radius: 10vh !important;
}

.btn-login{
    width: 100px;
}
.button{
    width: 100px;
    display: flex;
    background-color: rgb(87, 20, 125);
}

.btn-outline-warning{
    display: flex;
}


 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
} 

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


/* ========== Section unicial da main================== */
#img1 .secao1{
    display: flex;
    float: left;
}
#img1{
    display: flex;
    margin-top: 14px;
}
span{
    display: flex;
    margin-top: 30px;
}
.textoInicio
h2{
    display: flex;
    margin-top: 70px;
    font-weight: 900;
    color: rgb(253, 194, 48) !important;
}
.textoInicio
p{
    display: flex;
    color: white;
}
#img1{
    display: flex;
    margin-top: 40px;
    width: 360px;
    height: 270px;
    align-items: flex-end;
} 
.secao1{
    display: flex;
    width: 100%;
    margin-top: 0px;
    height: 300px;
}
.textoInicio button{
    margin-top: 10px;
}
#button1{
    text-decoration: none;
    display: flex;
    width: 200px;
    justify-content: center;
    background-color:rgb(253, 194, 48) ;
}
.textoInicio p{
    display: flex;
    margin-top: 20px;
}
.textoInicio{
    display: flex;
    flex-direction: column;
}
.imagem1{

    width: 0%;
    padding-left: 30px;
}



/* =============== section do meio da main ========================== */
.vantagens{
    display: flex;
    width: 100%;
}
.vantagens{
    color:rgb(253, 194, 48) !important;
    justify-content: center;
    margin-left: 78px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Define o número total de colunas que serão criadas no grid. */
    grid-template-rows: 50px;
    /* Define a quantidade de linhas no grid */
    grid-gap: 6px 80px;
    /* Define o gap (espaçamento) entre os elementos do grid. */
    padding: 20px 0px;
    /* border: 1px solid black; */
    font-size: 30px;
    font-weight: 600;
  
}
#titulo2{
  display: flex;
    justify-content: center;
    color:rgb(253, 194, 48) !important ;
    margin-top: 90px;
    font-weight: 900;
    font-size: 25px;
}


/* ===============Section final da main =============================== */
.missao{
    display: flex;
    border-radius: 20px;
    background-color: rgb(62, 8, 84) ;
    flex-direction: column;
    height: 640px;
    width: 800px;
    padding: 40px;
    margin-top: 70px;
   
}
.missao p{
    color:white !important;
    background-color: rgb(62, 8, 84);
}
.missao h5{
    font-weight: 800;
    color:rgb(253, 194, 48) !important;
    background-color: rgb(62, 8, 84);

}
.missao h3{
    text-align: center;
    color:rgb(253, 194, 48) !important;
    background-color: rgb(62, 8, 84);
}
h3{
    font-weight: 900;
}
.secao3{
    display: flex;
}
#img2{

    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    width: 500px;

}
#img3{
    background:rgb(62, 8, 84) ;
    visibility:hidden;
}

/* ============ Responsividade =========== */
@media (max-width:1024px) {
    .vantagens{
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    /* Define o número total de colunas que serão criadas no grid. */
    grid-template-rows: 25px;
    /* Define a quantidade de linhas no grid */
    grid-gap: 6px 50px;
    /* Define o gap (espaçamento) entre os elementos do grid. */
    padding: 0px 0px;
    /* border: 1px solid black; */
    }
    #titulo2{
    display: flex;
    justify-content: center;
    color:rgb(253, 194, 48) !important ;
    margin-top: 90px;
    }
    #img1 {
        width: 200px;
        height: 150px;
    }
    .textoInicio{
        flex-direction: column;
        align-items: center;
    }

    .missao{
        width: 600px;
        height: 1000px;
    }
    #img1{
    
        display: none;
    }
    #img2{
        
       display: none;
    }
    #img3{
        display: flex;
        visibility: visible;
    }
    .missao h5{
        font-size: 20px;
    }
    .missao h3{
        font-size: 25px;
    }
    .secao1{
        text-align: center;
     
    }
    .secao3{
        justify-items: center;
    }    
}



