@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* Visualização para desktop */
.divlogoSlogan, .divformulario{
    height: 87.4vh;
    width: 50vw;
}

.inputLogin{
    width: 80%;
    height: 30%;
    background-color: rgb(87, 20, 125);
}

.inputLogin *{
    background-color: rgb(87, 20, 125);
}


.inputLogin label{
    font-weight: 900 !important;
    color: white;
    background-color: rgba(86, 20, 125, 0);
}

.inputLogin input{
    text-align: center;
    font-size: 110%;
    border-radius: 5vh;
    height: 40%;
    background-color: white;
}

#imglogoSlogan{
    width: 80%;
}

#formLogin{
    width: 35vw;
    height: 70vh;
    background-color: rgb(87, 20, 125);
    border-radius: 5vh;
}

#divHeaderFormLogin, #divConteudoFormLogin, #divfooterFormLogin{
    width: 90% ;
    background-color: rgb(87, 20, 125);
}

#divHeaderFormLogin{
    height: 15%;
    background-color: rgba(86, 20, 125, 0);
    
}

#divHeaderFormLogin span{
    color: rgb(253, 194, 48);
    background-color: rgba(86, 20, 125, 0);
    font-size: 250%;
    font-weight: 900;
}

#divConteudoFormLogin{
    height: 47vh;
}

#divfooterFormLogin{
    width: 80% ;
    height: 10vh;
}

#divBtnEntrar, #divBtnEntrar a {
    background-color: rgb(87, 20, 125);
}

#divBtnEntrar a{
    color: rgb(79, 195, 195);
    text-decoration: none;
    font-weight: 700;
}

.btn-Entrar{
    font-weight: 900;
    color: rgb(23, 13, 48);
    width: 90%;
}

#esqueceuSenha, #esqueceuSenha a {
    color: rgb(23, 13, 48);
    font-weight: 900;
    background-color: rgb(87, 20, 125);
}

#esqueceuSenha a{
    color: rgb(79, 195, 195);
    text-decoration: none;
    
}

/* Visualização para Tablet */
@media screen and (max-width: 1023px) {

    .divlogoSlogan{
        display: none !important;
    }

    .divformulario{
        width: 80%
    }

    #formLogin{
        width: 95vw;
        height: 60vh;
        background-color: rgb(87, 20, 125);
        border-radius: 5vh;
    }

    #divConteudoFormLogin{
        height: 60%;
    }

    .inputLogin{
        font-size: 120%;
        height: 40%;
    }

    .inputSpan{
        height: 30px;
    }

    #divHeaderFormLogin span{
        font-size: 350%;
    }

    .btn-Entrar{
        font-size: 150%;
        width: 120px;
    }
}

/* Visualização para celular */
@media screen and (max-width: 767px) {
    .divformulario{
        width: 85%
    }
    #formLogin{
        width: 100vw;
        height: 60vh;
        background-color: rgb(87, 20, 125);
        border-radius: 5vh;
    }

    #divConteudoFormLogin{
        height: 60%;
    }

    #divHeaderFormLogin span{
        font-size: 250%;
    }
    
    .inputLogin{
        font-size: 100%;
        height: 35%;
    }
    
    .inputLogin input{
        height: 35%;
    }

    .inputSpan{
        height: 30px;
    }
    
    #esqueceuSenha{
        font-size: 60%;
    } 

    #divBtnEntrar a{
        color: rgb(79, 195, 195);
        font-size: 60%;
        text-decoration: none;
        font-weight: 700;
    }
    
    .btn-Entrar{
        font-size: 100%;
        width: 90px;
        height: 40px;
    }

}




/* ///////////////////////////////////////// Estilização modal ////////////////////////////////////////*/
#modalCadastro{
    background-color:  rgba(21, 7, 45, 0.616);
} 

.modal-dialog{
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    max-width: 50%;
    
}

.modal-content{
    border-radius: 3vh;
    display: flex;
    align-items: center;
    background-color: rgb(87, 20, 125);

}

#conteudo-modalCadastro{
    height: 25vh;
    margin-top: 25vh;
}

.modal-content *{
    background-color: rgb(87, 20, 125);
}

#conteudo-modalCadastro .modal-body{
   
    color: rgb(253, 194, 48);
    font-size: 3vh;
    width: 95%;
    height: 10px;
    font-weight: 800;
}


.modal-content .modal-body{
    color: rgb(255, 255, 255);
}

.modal-footer{
    width: 80%;
    border: none;
}

.modal-body{
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}

.btn-ok{
    width: 5vw;
}


/* responsividade modal */
@media screen and (max-width: 1023px) {
 .modal-dialog{
    max-width: 90%;
 }

 .modal-content{
    display: flex;
    justify-content: space-evenly;
    height: 35vh !important;
 }

 .modal-body{
   max-height: 65%;
 }

 .modal-footer{
    height: 25%;
 }

 .btn-ok{
    width: 15vw;
    
}

}

@media screen and (max-width: 767px){

    .btn-ok{
        width: 20vw;
        
    }
}