@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0.5vw;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgba(86, 20, 125);
    border-radius: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    background-color: rgb(23, 13, 48);
    font-family: 'Montserrat', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#logo{
    width: 250px;
}

header{
    padding-left: 0.5%;
}

footer{
    font-weight: 900;
    color: rgb(253, 194, 48);
}

.caixasHeader{
    width: 33%;
}

.nav-link{
    font-size: 1vw;
    font-weight: 900 !important;
    list-style: none;
    color: rgb(253, 194, 48) !important;
}

button{
    border-radius: 10vh !important;
}

.btn{
    background-color: rgb(253, 194, 48) !important;
    font-weight: 900 !important;
    border-radius: 10vh !important;
}

.btn-login{
    width: 100px;
}

#headerMobile{
    display: none;
}


#iconMenuMobile{
    display: none;
}

footer{
    position: absolute;
    width: 100%;
}

/*            //////////////////////////////////////// Menu Responsivo para vizualização Mobile //////////////////////////////////////       */
@media screen and (max-width: 1024px) {

    body{
        background-color: rgb(23, 13, 48);
    }

    #logo{
        width: 150px;
    }
   

    #headerMobile{
        background-color: rgb(253, 194, 48);
        border-top: none;
        border-radius: 0 0 2vh 2vh;
        position: absolute;
        margin-left: 20vw;
        width: 60%;
        display: none;
        justify-content: center;
    }

    @keyframes animationMobileHeaderOn {
        50% { height: 0px;}
        100% { height: 20vh;}
    }

    @keyframes animationMobileHeaderOff {
        50% { height: 20vh;
            opacity: 1;}
        100% {height: 0px;
            opacity: 0;}
    }

    #headerMobile *{
        background-color: rgb(253, 194, 48);
    }

    .navMobile{
        padding: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        opacity: 0;
        animation: animationLinksOn 0.4s;
        animation-fill-mode: forwards;
       
    }

    @keyframes animationLinksOn {
        50%  {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes animationLinksOff {
        from { opacity: 1;}
        to { opacity: 0;}
    }

    
    .nav{
        display: none;
    }

    .nav-linkMobile{
        font-weight: 700;
        color:rgb(23, 13, 48);
        font-size: 2vh;
        text-decoration: none;

    }
    
    #iconMenuMobile{
        width: 30px;
        display: block;
    }

    .btn-login-mobile{
        width: 100%;
        border: none;
        background-color: rgb(87, 20, 125) !important;
        color: rgb(253, 194, 48);
    }

    .btn-login{
        display: none;
    }

    #btnLogin{
        width: 20%;
        justify-content: center !important;
    }
    
    footer{
        font-size: 70%;
    }
   
}

@media screen and (max-width: 768px){

    footer{
        font-size: 60%;
    }
        
}
