*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    background-color: rgb(23, 13, 48);
}

html, body{
    width: 100%;
    height: 100%;
}

#logo{
    width: 250px;
}

header{
    padding-left: 0.5%;
}

.caixasHeader{
    width: 33%;
}

.nav-link{
    color: rgb(253, 194, 48) !important;
  
}

