@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

h1, h2, h4 {
    color: rgb(253, 194, 48) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
h3{
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto', sans-serif ;
    font-size: 30px;
    font-weight: 900;
    background-color: rgb(87, 20, 125);
}

h4{
    font-size: 20px;
    font-weight: 800;
}

ul{
    background-color: rgb(87, 20, 125);
}

li{
    list-style: none;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(87, 20, 125);
}
i{
    background-color: rgb(87, 20, 125);
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.textH3{
    margin-top: 5%;
}

.text{
    margin-top: 10%;
}

.textConfig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.caixaPlanos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.planosConfig{
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 20, 125);
    border-radius: 10vh;
}

.planosConfig:hover{
transform: scale(1.1);
}

.textStyle{
    background-color: rgb(87, 20, 125);
}

.listConfig{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    width: 300px;
    height: 200px;
    background-color: rgb(87, 20, 125);
}

.specification{
    text-align: center;
    color: rgb(253, 194, 48);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(87, 20, 125);
}

.bibi-dot, .bibi-check, .bibi-x{
    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(87, 20, 125);
}

.button{
    display: flex;
    justify-content: center;
    background-color: rgb(87, 20, 125);
}

button{
    width: 70px;
    height: 33px;
    color: rgb(87, 20, 125);
    background-color: rgb(253, 194, 48);
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    border: 0px;
    border-radius: 10vh !important;

   
}