@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* Configurações dos textos */
h1, h2, h4 {
    color: rgb(253, 194, 48) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 !important;
}
h3{
    color: rgb(255, 255, 255) !important;
    font-family: 'Roboto', sans-serif ;
    font-size: 30px;
    font-weight: 900 !important;
    background-color: rgb(87, 20, 125);
}

h4{
    font-size: 20px;
    font-weight: 800;
}

ul{
    background-color: rgba(86, 20, 125, 0);
}

li{
    list-style: none;
    color:rgb(255, 255, 255);
    background-color: rgb(87, 20, 125);
}

i{
    background-color: rgb(87, 20, 125);
}

p{
    color: rgb(255, 255, 255);
}

.textH3{
    margin-top: 5%;
}

.description{
    text-align: center;
    font-size: 20px;
}

.text{
    margin-top: 10%;
}

.textConfig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.textStyle{
    background-color: rgb(87, 20, 125);
}

/* Configurações das caixas de planos */
.caixaPlanos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.planosConfig{
    margin-top: 2%;
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 20, 125);
    border-radius: 10vh;
}

.planosConfig:hover{
transform: scale(1.1);
}



.listConfig{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    width: 300px;
    height: 340px;
    background-color: rgba(86, 20, 125, 0);
}

.specification{
    text-align: center;
    color: rgb(253, 194, 48);
    background-color: rgb(87, 20, 125);
}

.bibi-dot, .bibi-check, .bibi-x{
    color:rgb(255, 255, 255);
    background-color: rgb(87, 20, 125);
}

.button{
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(87, 20, 125);
}

.btnAssinar{
    background-color: rgb(87, 20, 125);;
}

/* Responsividade da Página */

@media screen and (max-width: 768px) {
    .planosConfig{
        margin-top: 2%;
        width: 270px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(87, 20, 125);
        border-radius: 10vh;
    }

    .listConfig{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
        width: 200px;
        height: 440px;
        background-color: rgb(87, 20, 125);
    }
    .planosConfig:hover{
        transform: scale(1);
        }
}